In [27]:
import pandas as pd

In [28]:
df=pd.read_csv("customer.csv")
df.sample(5)

    age  gender   review education purchased
0    30  Female  Average    School        No
11   74    Male     Good        UG       Yes
23   96  Female     Good    School        No
5    31  Female  Average    School       Yes
20   57  Female  Average    School       Yes

In [29]:
print(df.columns)

Index(['age', 'gender', 'review', 'education', 'purchased'], dtype='object')

In [30]:
df.drop(["age", "gender", "education"], axis=1, inplace=True)

In [31]:
df.head()

    review purchased
0  Average        No
1     Poor        No
2     Good        No
3     Good        No
4  Average        No

In [32]:
from sklearn.preprocessing import OrdinalEncoder

In [23]:

oe=OrdinalEncoder(categories=[["Poor","Average","Good"]])

In [35]:

df["review_encoded"] = oe.fit_transform(df[["review"]])

In [36]:
df.head()

    review purchased  review_encoded
0  Average        No             1.0
1     Poor        No             0.0
2     Good        No             2.0
3     Good        No             2.0
4  Average        No             1.0

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le=LabelEncoder()

In [40]:
df["purchase_encoded"] = le.fit_transform(df["purchased"])

In [43]:
df.sample(10)

     review purchased  review_encoded  purchase_encoded
13  Average        No             1.0                 0
30  Average        No             1.0                 0
4   Average        No             1.0                 0
3      Good        No             2.0                 0
36     Good       Yes             2.0                 1
43     Poor        No             0.0                 0
42     Good       Yes             2.0                 1
32  Average       Yes             1.0                 1
46     Poor        No             0.0                 0
26     Poor        No             0.0                 0